<div class="card" id="{{_id}}">
        <h5 class="card-header"><a href="{{link}}" target="_blank" style="color:black;">{{title}}</a></h5>
        <div class="card-body">

           <p class="card-text"><a href="{{link}}" target="_blank" style="color:black;">{{summary}}</a></p>
           <a class="btn btn-primary mx-1" href="{{link}}" target="_blank" style="color:black;">View</a>
            <a class="btn btn-primary saveButton mx-1" data-_id="{{_id}}" data-saved="{{saved}}">Save</a>
        </div>
    </div>