<div class="card" id="{{_id}}">
        <h5 class="card-header"><a href="#https://medium.com/{{link}}">{{title}}</a></h5>
        <div class="card-body">

           <p class="card-text">{{summary}}</p>
            <a class="btn btn-primary" id="saveButton" data-_id="{{_id}}" data-saved="{{saved}}">Save</a>
        </div>
    </div>