<div class="card" id="{{article._id}}">
    <h5 class="card-header">
        <a href="#https://medium.com/{{article.link}}">{{article.title}}</a>
    </h5>
    <div class="card-body">

        <p class="card-text">{{article.summary}}</p>
        <a class="btn btn-primary" id="deleteButton" data-_id="{{article._id}}">Delete</a>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="noteButton" data-_id="{{article._id}}">
            Notes
        </button>
    </div>
</div>


<!-- Modal test -->
<div class="modal fade" tabindex="-1" id="exampleModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notesTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body cardNote">
                        <ul class="notesBody list-group">
                        </ul>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" id="noteInput" placeholder="Notes will show here"></textarea>

                </div>
                <a class="btn btn-primary" id="submit">Submit</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>